body,html{margin:0;padding: 0;width: 100%;height: 100%;background: #fff;scroll-behavior: smooth;overflow-x: hidden;}
*{font-size: 13px;font-family: 'Montserrat','open sans', 'lato', 'helvetica', sans-serif;}

a{
  color:black;
  font-size: 1em;
}
a:hover{
  color:black;
  text-decoration: none;
}
.primary-link a{
  color:#ef8c8e;
}
.primary-link a:hover{
  text-decoration: underline;
}
li{
  list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-Bold";
}
button:focus{
  outline: none;
  border: none
}


.alert{
  z-index: 1000
}
div.list-events{
  height: 700px;
  overflow-y: scroll;
}
.fc-time, .fc-title {
  white-space:normal !important;
}
.fc-list-day{height: 35px;width: 675px;background-color: rgba(0, 0, 0, 0.075)}
.fc-list-day >td {font-weight: bold;color:#44566c;padding: 10px}
.fc-list-event > td{height: 35px;width: 675px;padding: 5px;}
.fc-list-day{border-top:1px solid #dee2e6;border-bottom:1px solid #dee2e6;}
#main{position: relative;background-color: transparent;}
div.mainContent{background-color: inherit;display: block;margin: auto;background-color: #fff;padding: 10px;}
div.navbar-custom {position: relative;background-color: #fff;margin-top: 2.7rem;}
div.navbar-custom,.sidelist-item > *{ font-family: 'Montserrat-Bold';font-size: 1.2em;}
.sublist-item li > a{font-size: 1em;padding: 5px}

.nav-tabs a.active{
  margin-bottom: -1px !important;
}
div.NavAdmin {
  background-color: #ef8c8e;
  color: white;
}
div.BlocAdmin {
  background-color: #ffeff0;
}
div.BlocAdmin a:hover, div.BlocAdmin a.active {
  color: #ef8c8e;
}
div.FiltrerPar{
  border-left:15px solid #ef8c8e;
}
div.FiltrerPar h5{
  color: #ef8c8e;
}
li.tag-item{
  display: inline-block;
}
.container-fluid{
  height: 100%
}
#adminNavigation{
  background-color: rgb(255, 255, 255);
}
#ModalSafety{
  z-index: 2000
}
.closebtn{
  top: -20px;
  left: -40px;
  background-color: transparent;
  border:none;
  position: absolute;
  z-index: 100
}
.closebtn > i {
  color:#d9dcde;
  font-size: 2em;
  margin: 10px;
  transition:all 1s
}
.closebtn > i:hover {
  color:#424242
}
.input-search{
  width:100%;
  height: 40px;
  border-radius: 5px;
  border:.8px solid #E8E8E8;
  color:grey;
  outline: none;
  padding: 10px;
  transition: background 1s
}
.input-search:hover{
  background-color: #E8E8E8
}
ul.list-group-custom{
  position: fixed;
  width: 280px;
  visibility: hidden;
  z-index: 200;
  max-height: 190px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.125)
}
li.list-group-item{
  color:#424242;
  border:none
}
li.list-group-item:hover{
  background-color: #0081ff;
  color:white;
  cursor: pointer
}

.nav-link:active{
  color:grey
}
.card-body{
  background-color: #f8fafb;
  border-bottom: 1px solid #E8E8E8
}
.evenement-content{
  color:#8697a8;
  background-color: #f8fafb;
  font-family: 'Arial';
  padding: 10px;
  border-bottom: .5px solid #E8E8E8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.upper-title:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent grey transparent transparent;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 10px;
  transform: rotate(180deg);
}
.upper-title{
  margin-top: 15px;
  color:black;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.upper_wrapper{
  vertical-align: middle;
  display: inline-block;
  font-weight: bold;
}
.fc-toolbar-title{
  text-transform: capitalize;
  font-family: 'Montserrat';
}
.fc .fc-toolbar.fc-header-toolbar{
  margin-bottom: 10px;
  margin-top: 5px;
}
.fc .fc-daygrid-day.fc-day-today{
  background-color: rgba(225, 235, 242,0.2);
}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number{
  width: 22px;
  height: 22px;
  background-color: rgb(132, 176, 207) ;
  border-radius: 50%;
  color:white;
  box-shadow: 0px 0px 5px 0px rgba(191,191,191,0.48)
}
.table-bordered{
  border: none
}
.table-bordered thead th, .table-bordered thead td{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: .5px solid #eaedf0;
}
.table-bordered tbody td{
  border:none;border-bottom: .5px solid #eaedf0;
  border-spacing: 1px
}
.fc .fc-col-header-cell-cushion{
  color:#8697a8 !important
}
.fc-theme-bootstrap a:not([href]){
  color:#44566c;font-weight:bold;
}
.btn-primary{
  color:white !important;
  font-weight: 400;
  background-color: #ef8c8e !important;
  outline:none !important;
  border:transparent;
  border-color:#ef8c8e;
  border-spacing: 1px;
  transition: all 0s !important;
}
.btn-primary:hover{
  background-color: #e27f81 !important;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabledbtn-wrapper).active, .show > .btn-primary.dropdown-toggle{
  color:white !important;
  background-color: #e27f81!important;
  border-color: grey;
  border-radius:5px;
}
.btn-primary.disabled, .btn-primary:disabled{
  color:white !important;
  background-color: #ffeff0 !important;
  border-color: inherit;
}
.btn-Sidedropdown{
  font-family: "Montserrat-Bold";
  font-size: 1.25em;
  background-color: white;
  border:none;
  height: 40px;
  color:grey;
  text-align: left;
}
.btn-admin{
  text-align: left;
  width: 100%;
  background-color: transparent;
  border:none;
  height:60px;
}
.btn-admin:hover{
  background-color: rgba(150, 150, 150,.5);
  border-left: 3px solid crimson
}
.btn-admin:hover{
  color:white
}
.btn-admin{
  font-size: 1.2em;
  color:grey
}
.btn-admin i{
  margin-left: 20px;margin-right: 10px;font-size: 1.5em;}

.filter-label{font-family: 'Montserrat';color:#404040}
.filter-type:checked + .filter-label {color: black;}
.filter-div{min-width: 60%;background-color: ;display: inline-block; margin-top: 10px;padding: 10px;padding-top: 0px;}
.filter-wrapper{}

.switch {position: relative; width: 50px; height: 24px; float: right;margin-right: 15px;margin-top: 10px;}
.switch input { opacity: 0;width: 0;height: 0;}
.type-filters > .switch{margin-right: 30px;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 16px;width: 16px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

input:checked + #sliderProd {background-color: #fad046;}
input:checked + #sliderNego {background-color: #96b5aa;}
input:checked + #sliderVini {background-color: #4287f5;}
input:checked + #sliderViti {background-color: #e35646;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}

.input-wrapper{}
.input-group{margin-bottom:20px;margin-top: -10px;}
.input-underlined{width: 90%}
.input-underlined > input{border: none;border-bottom: 0.125rem solid #E4E4E4;width: 100%;height: 50px;font-size: 1.0625rem;padding-left: 0.875rem;line-height: 147.6%;padding-top: 30px;padding-bottom: 0.5rem;}
.input-underlined > input:focus{outline: none;}
.input-underlined > .input-label{position: absolute;top:10 ;left: 1em;line-height: 147.6%;color: grey;transition: top .2s;}
.input-underlined > input:focus + .input-label{top: 5;font-size: 0.9375rem;margin-bottom: 32px;;}
.input-underlined:not(.input-danger) > input:focus + .input-label{color: blue;}
.input-underlined:not(.input-danger) > input:focus{border-color: blue;}



.download_csv{width: 110px;margin: auto;}
.download_csv div > input { display: none;}
#csv_label > i{display: inline-block;font-size: 1.4em;margin-left: 5px;}
.btn-import{width: 200px;background-color: #0081ff;color:white;padding: 10px;padding-bottom: 5px;border-radius: 10px;cursor: pointer;}
.btn-import>label{cursor: pointer;}

.active_dot{display: inline-block;margin-left: 10px;margin-right: 5px;background-color:#E8E8E8;width: 10px;height: 10px;border-radius: 50%}
.active_text{display: inline-block;color:#E8E8E8;font-family: "Montserrat-Bold";margin: 0px;}
.disabled_dot{display: inline-block;margin-left: 10px;margin-right: 5px;background-color:red;width: 10px;height: 10px;border-radius: 50%}
.disabled_text{display: inline-block;color:red;font-family: "Montserrat-Bold";margin: 0px;}

.tagcloud a{text-transform: uppercase;display: inline-block;padding: 4px 10px;margin-bottom: 7px;margin-right: 4px;border-radius: 4px;color: #000;border: 1px solid #E8E8E8;font-size: 11px;}
.tagcloud a:hover{color:white;background-color: #ef8c8e}
.organisme-card{background-color: #dddddd;}
.color-block{display: inline-block;height : 30px;width :40px;}
.popup{display: none;position: absolute;width: 300px;background-color: #FFF;border-radius: 10px;box-shadow: 0px 0px 31px 0px rgba(212,212,212,1);overflow: hidden;z-index: 1000}
.popup-label{font-weight: bold;}
.calendar-month{display: table-cell;text-align: center;font-size: .7em;font-family: "Montserrat-Bold";height: 20px;min-width: 50px;background-color: #44566c;color:#FFF;padding: 5px;border-top-left-radius: 10px;border-top-right-radius: 10px}
.calendar-day{display: block;text-align: center;font-family: "Montserrat-Bold";color:#44566c;min-height: 25px;min-width: 50px;background-color: #FFF;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;padding-top: 4px}
.calendar-icon{display: block;color:#44566c;height: 40px;background-color: #FFF;margin-left: 30px;margin-top: -10px;box-shadow: 0px 0px 33px -7px rgba(141,141,141,1);border-top-left-radius: 10px;border-top-right-radius: 10px}
.popup-info > label{font-size: 1em;font-family: "Montserrat-Bold";padding-left: 10px}
.popup-footer{background-color: #f8fafb;border-top: .5px solid #E8E8E8}

.address-info{text-align: left;font-style: italic;}
.number-wrapper{font-weight: bold;color:#0081ff;background-color: #F8F8F8;padding: 5px;border-radius: 10px;letter-spacing: 1px;}
.contact-container{display: inline-block;margin: 20px;background-color: #FFF;width: 28.5%;padding: 50px;text-align: center;}

#bg-svg{position: absolute;margin-left: -10px;margin-top: -50px;transform: rotate(180deg);z-index: -100}
.flex {display: flex;justify-content: center;align-items: center;text-align: center;}
.waves {position:relative;width: 100%;height:1vh;margin-top: 200px;min-height:100px;max-height:150px;}
.content {position:relative;height:20vh;text-align:center;background-color: white;}
.parallax > use {animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)infinite;}
.parallax > use:nth-child(1) {animation-delay: -2s;animation-duration: 7s;}
.parallax > use:nth-child(2) {animation-delay: -3s;animation-duration: 10s;}
.parallax > use:nth-child(3) {animation-delay: -4s;animation-duration: 13s;}
.parallax > use:nth-child(4) {animation-delay: -5s;animation-duration: 20s;}

.page {position: absolute;width: 100%;height: 92%;margin: 0;padding: 10px;transition: all .6s cubic-bezier(.5, .2, .2, 1.1);-webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);-moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);-o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);overflow-y: scroll;overflow-x: hidden;z-index: 10}
#p1 {left: 0;}
#p2, #p3, #p4, #p5 {left: 190%;}
#p1 { background: inherit; }
#p2 { background: #f8f9ff;padding: 50px;padding-top: 0;}
#p3 { background: rgb(235, 239, 242); }
#p4 { background: white; }
#p5 { background: rebeccapurple; }
#obligations:target #p2,
#filtres:target #p3,
#contact:target #p4,#dashboard:target #p5 {transform: translateX(-190%);-webkit-transform: translateX(-190%);-moz-transform: translateX(-190%);-o-transform: translateX(-190%);transition-delay: .4s !important;}
#obligations:target #p1,
#filtres:target #p1,
#contact:target #p1,#dashboard:target #p1{background: black;}
#obligations:target #dos,
#filtres:target #tres,
#contact:target #cuatro,#dashboard:target #cinco{
  font-family: "Montserrat-Bold";border-bottom: .6px solid red !important;
}

#footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #18142f;
  background-size: auto;
  background-size: cover;
  text-align: center;
  display: block;
  width: 100%
}
#footer .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#footer .footer-disclaimer {
    position: relative;
    bottom: 0;
    border-top: 1px solid hsla(0,0%,100%,.17);
    padding-top: 19px;
}
#footer .footer-nav {
    margin: 0;
    display: inline-block;
}
#footer ul {
    list-style: none;
    padding-left: 0;
}
#footer .footer-nav li {
    margin: 0 30px;
}
#footer .footer-nav li {
    display: inline-block;
    margin: 0;
}
#footer ul {
    list-style: none;
}
#footer a {
  color: #9d9ca8;
}
#footer .footer-nav a {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    font-family: "32c23237",Helvetica,Arial,sans-serif;
}
.nav-link {
    display: block;
    padding: .5em 1em;
}
#footer .footer-icon {
    margin-bottom: 50px;
}
.top-nav {
    padding: 23px 0 0 0;
    text-align: center;
    margin: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.circle-logo, .circle-logo img {
    width: 53px;
    height: 53px;
}
.breadcrumb {
    margin-left: 20px;
    left: 65px;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 0;
}
.breadcrumb a {
    overflow: hidden;
}
.breadcrumb a, .breadcrumb span {
    font-size: 12px;
    margin-right: 10px;
}
.breadcrumb a {
    white-space: nowrap;
}
.breadcrumb a, .breadcrumb span {
    display: inline-block;
    text-align: left;
    font-family: "32c23237",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    padding: 0;
}
.breadcrumb a::before, .breadcrumb span::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.5px 0 4.5px 9px;
    border-color: transparent transparent transparent rgba(0,0,0,.3);
    display: inline-block;
    margin-right: 14px;
}
.top-nav-center {
    margin-right: auto;
    margin-left: auto;
}

.fc-unthemed td.fc-today {
  background: #ffeff0;
}
.custom-control-label {
  cursor: pointer;
}
a.fc-event {
  cursor: pointer;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ef8c8e;
    background-color: #fff;
    border-color: #ef8c8e;
    border-bottom: none;
    font-weight: bolder;
    font-size: 1.15em;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    color: #ef8c8e;
}
#calendar h2 {
  color: #ef8c8e;
}
.custom-control-input:checked ~ .custom-control-label::before ,
.custom-control-input:active ~ .custom-control-label::before {
    background-color: #ef8c8e;
    border-color: #ef8c8e;
}

.custom-control-input:focus ~ .custom-control-label::before {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border-color: #adb5bd !important;
}
.table .thead-light th {
  background-color: #ffeff0;
  color: #c9787a;
  border:none;
  font-size: 14px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.table {
  background-color: #fff;
}
.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  margin-bottom: 0;
  outline: 0;
}
.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: #4783B0;
}
#organismes-filter {
  margin-bottom: -52px;
}

::-webkit-scrollbar {width: 0; background: transparent; }
@media (max-width: 767px){
  .waves {height:40px;min-height:40px;}
  .content {height:30vh;}
}
@media screen and (max-width: 450px) {
  .navbar-custom {padding-top: 15px;}
  .navbar-custom a {font-size: 18px;}
  .fc-dayGridMonth-button,.fc-YearViewCustom-button{display: none}
}

@keyframes move-forever {
  0% {transform: translate3d(-90px,0,0);}
  100% {transform: translate3d(85px,0,0);}
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

.dropdown-menu-center {
  right: auto !important;
  left: 50% !important;
  top: 100% !important;
  -webkit-transform: translate(-50%, 0) !important;
  -o-transform: translate(-50%, 0) !important;
  transform: translate(-50%, 0) !important;
}

.fc th {
  padding: 5px 0;
  background-color: #ffeff0;
}

.fc th span {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bolder;
  color: #000;
}
th.fc-widget-header {
  cursor: pointer;
}

.btn-outline-danger:hover {
  background-color: #e27f81 !important;
  border-color: #e27f81 !important;
  color: #fff !important;
}
.btn-outline-danger {
    color: #e27f81 !important;
    border-color: #e27f81 !important;
}
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
    background-color: #e27f81 !important;
    border-color: #e27f81 !important;
    color: #fff !important;
}
#sideNavigation {
  background-color: #f6f6f6;
}
